[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia should assign an empty array to the vikingArmy property
Type=Link
URL=file:///home/flor/ironhack/labs/lab-javascript-vikings/starter-code/SpecRunner.html?spec=War%20constructor%20function%20should%20assign%20an%20empty%20array%20to%20the%20vikingArmy%20property
Icon=text-html
