body {
    font-family: fantasy;
    font-weight: bolder;
    font-size: 10px;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/011/110/843/large/tim-kaminski-tim-kaminski-erger.jpg?1527886740);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

.its-war {
    display: flex;
    justify-content: center;
    font-size: 3.8em;
}


/* Vikings styles*/
#containerViking {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #00000030; */
    background: linear-gradient(to right, #f3f3f3ba, #8e9eab1c); 
    padding-top: 28px;
    margin-bottom: 40px;
    /* border-radius: 25px; */
}

#viking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#containerViking p { 
    font-size: 2em;
} 
    
.viking img {
    width: 100px;
    border: 1px solid black;
}

/* Saxons styles*/
#containerSaxon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #00000030; */
    background: linear-gradient(to right, #f3f3f3ba, #8e9eab1c); 
    padding-top: 28px;
    /* border-radius: 25px; */
}

#saxons-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#containerSaxon p { 
    color: black;
    /* color: lightgray; */
    font-size: 2em;
} 
    
.saxon img {
    width: 100px;
    border: 1px solid black;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
}

/* Attack Button */
.attack-btn {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.attack-btn button {
    width: 200px;
    height: 50px;
    font-family: fantasy;
    font-size: 2em;
    font-weight: bolder;
    padding-top: 6px;
    border: 1.5px solid black;
    background: linear-gradient(to bottom, #ffffff, #abbaab); 
}

