body {
    font-family: fantasy;
    font-weight: bolder;
    font-size: 10px;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/011/110/843/large/tim-kaminski-tim-kaminski-erger.jpg?1527886740);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.its-war {
    display: flex;
    justify-content: center;
    font-size: 3.4em;
}

/* .circular--square {
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
    width: 200px;
    height: auto;
} */

/* Vikings */
#containerViking {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #00000030; */
    background: linear-gradient(to right, #eef2f3, #8e9eab1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 28px;
    margin-bottom: 40px;
    border-radius: 25px;
}

#viking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#containerViking p { 
    font-size: 2em;
} 
    
.viking img {
    width: 100px;
    border: 1px solid black;
}

/* Saxons */
#containerSaxon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #00000030; */
    background: linear-gradient(to right, #eef2f3, #8e9eab1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 28px;
    border-radius: 25px;
}


#saxons-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#containerSaxon p { 
    color: black;
    /* color: lightgray; */
    font-size: 2em;
    
} 
    
.saxon img {
    width: 100px;
    border: 1px solid black;
}

/* Attack Button */
.viking-attack {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.viking-attack button {
    width: 200px;
    height: 50px;
    font-family: fantasy;
    font-size: 2em;
    font-weight: bolder;
    padding-top: 6px;
}
    
    
    
    
    
    